<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.dreamIsland.dao.UserDao">


<resultMap type="com.dreamIsland.model.User" id="BaseResultMap">

<id jdbcType="INTEGER" property="id" column="id"/>

<result jdbcType="VARCHAR" property="userName" column="user_name"/>

<result jdbcType="VARCHAR" property="password" column="password"/>

<result jdbcType="INTEGER" property="age" column="age"/>

</resultMap>



    <sql id="Base_Column_List"> 
        id, user_name, password, age
    </sql>

<!-- select user by userId -->
<select id="getUserById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
	select 	<include refid="Base_Column_List"/>
	from user where id=#{id} 
</select>


</mapper>